<app-dialog-header label="Process Customer Service Ticket"></app-dialog-header>
<div class="flex flex-row">
  <div class="w-[23%]">
    <app-customer-service-left-side-bar></app-customer-service-left-side-bar>
  </div>
  <div class="w-[77%]">
    <div class="w-full">
      <div class="flex flex-row bg-white">
        <div class="w-[57%] flex flex-col pr-10 pl-7 twocolorbackground">
          <div class="flex flex-row pb-4">
            <div class="w-1/2 flex flex-row">
              <p
                class="font-base leading-none flex items-center pt-5 font-bold"
              >
                ENTITY NAME HERE
              </p>
              <div class="flex-1">
                <div class="flex justify-center pt-5">
                  EIN: &nbsp;
                  <span
                    class="underline text-[15px] text-primary decoration-sky-100 flex items-center"
                    >0079827</span
                  >
                </div>
              </div>
            </div>
            <div class="w-1/2 flex flex-row justify-center">
              <p
                class="text-sm px-4 leading-none pt-5 text-center font-bold flex items-center"
              >
                TICKET STATUS:
              </p>
              <div class="flex-1 flex flex-row pt-5 border-b-half">
                <div
                  class="flex-1 flex flex-start text-center font-bold text-primary"
                >
                  In Process
                </div>
                <div class="flex-end">
                  <mat-icon
                    class="flex justify-center items-center"
                    svgIcon="customer-service-select-down"
                  ></mat-icon>
                </div>
              </div>
            </div>
          </div>
          <cdk-accordion>
            <cdk-accordion-item
              #accordionItem0="cdkAccordionItem"
              role="button"
              tabindex="0"
              [attr.id]="'accordion-header-0'"
              [attr.aria-expanded]="accordionItem0.expanded"
              [attr.aria-controls]="'accordion-body-0'"
            >
              <app-contact-details (click)="accordionItem0.toggle()"></app-contact-details>
              <div
                class="mt-5 shadow-md bg-white"
                role="region"
                [style.display]="accordionItem0.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-0'"
                [attr.aria-labelledby]="'accordion-header-0'"
              ></div>
            </cdk-accordion-item>
          </cdk-accordion>
        </div>
        <div class="w-[43%] pl-4">
          <div class="flex flex-col h-[80vh] w-[100%]">
            <div class="h-[75%] w-full bgColor rounded-md shadow-md">
              <app-contact-view></app-contact-view>
            </div>
            <div class="h-[25%] rounded-md shadow-md">
              <app-contact-form></app-contact-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
