::ng-deep .inProcessSelect {
  .mat-form-field {
    width: 150px;
    bottom: -13px;
  }
}

.backgroundSepreated {
  background: linear-gradient(90deg, #fafafa 50%, white 50%);
}

::ng-deep .noteIcon {
  .mat-icon {
    width: 16px !important;
    height: 12px !important;
  }
}


@media screen and (max-width: 1750px) {
  .button-responsive {
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 30px;
  }
  .communication-button {
    position: inherit;
  }
  .text-class {
    padding-top: 0px;
  }
  .button-class {
    padding-top: 12px;
    display: flex;
    justify-content: center;
  }
}
