<div class="h-full bg-[#ffffff] p-4 pb-0 relative">
  <div class="absolute right-0 z-10 h-[90vh]">
    <!-- <app-policy-filter></app-policy-filter> -->
  </div>

  <div class="h-[10%] flex justify-end">
    <div class="flex items-center gap-12">
      <div
        class="search flex items-center bloc border-[1px] text-[#676767] border-[#00000029] border-solid rounded-2xl gap-4 text-sm pr-4 pl-4 text-primary"
      >
        <mat-icon>search</mat-icon>
        <input
          class="h-full text-[#676767] outline-0 w-64"
          matInput
          placeholder="Search CST Number or Client Info"
        />
        <mat-icon svgIcon="policy-filter"></mat-icon>
        <mat-icon>cancel</mat-icon>
      </div>
      <div class="flex gap-2">
        <button
          class="py-4 pr-7 pl-3 relative rounded-full flex justify-center items-center bg-white border-2 border-black text-[#000000] w-30 h-8"
        >
          <div
            class="absolute flex justify-center items-center right-1 align-baseline text-xs bg-primary rounded-2xl text-[#FFFFFF] h-5 w-5"
          >
            5
          </div>
          <span class="items-center flex gap-3 text-[12px]">Personal</span>
        </button>
        <button
          class="py-4 pr-7 pl-3 relative rounded-full flex justify-center items-center bg-primary border-2 border-black text-[#FFFFFF] w-30 h-8"
        >
          <div
            class="absolute flex justify-center items-center right-1 align-baseline text-xs bg-white rounded-2xl text-[#005f83] h-5 w-5"
          >
            5
          </div>
          <span class="items-center flex gap-3 text-[12px]">Show All</span>
        </button>
      </div>
    </div>
  </div>

  <div class="flex flex-row w-[100%] h-[90%] overflow-y-auto overflow-x-hidden">
    <div class="w-1/5 flex flex-col justify-start gap-y-5 p-5">
      <app-policy-status [step]="steps[0]"></app-policy-status>
      <app-policy-sort></app-policy-sort>

      <div *ngFor="let card of cards">
        <app-policy-card [card]="card"></app-policy-card>
      </div>
    </div>

    <div class="w-1/5 flex flex-col justify-start gap-y-5 p-5">
      <app-policy-status [step]="steps[1]"></app-policy-status>
      <app-policy-sort></app-policy-sort>
      <div *ngFor="let card of cards">
        <app-policy-card [card]="card"></app-policy-card>
      </div>
    </div>

    <div class="w-1/5 flex flex-col justify-start gap-y-5 p-5">
      <app-policy-status [step]="steps[2]"></app-policy-status>
      <app-policy-sort></app-policy-sort>
      <div *ngFor="let card of cards">
        <app-policy-card [card]="card"></app-policy-card>
      </div>
    </div>

    <div class="w-1/5 flex flex-col justify-start gap-y-5 p-5">
      <app-policy-status [step]="steps[3]"></app-policy-status>
      <app-policy-sort></app-policy-sort>
      <div *ngFor="let card of cards">
        <app-policy-card [card]="card"></app-policy-card>
      </div>
    </div>

    <div class="w-1/5 flex flex-col justify-start gap-y-5 p-5">
      <app-policy-status [step]="steps[4]"></app-policy-status>
      <app-policy-sort></app-policy-sort>
      <div *ngFor="let card of cards">
        <app-policy-card [card]="card"></app-policy-card>
      </div>
    </div>
  </div>
</div>
