<div class="flex flex-row w-[100%] h-36 rounded-md shadow-lg">
  <div
    class="flex flex-col items-center h-full w-[10%] bg-[#FD3B31] text-[12px] text-[#FFFFFF] rounded-l-md"
  >
    <div>15D</div>
    <div>6H</div>
    <div>10M</div>
  </div>
  <div class="flex flex-col h-full w-[90%] p-0">
    <div class="flex justify-end items-center w-full h-[10%] pr-4 text-[10px]">
      01:55 P.M May 16, 2022
    </div>
    <div
      class="flex justify-end items-center w-full text-[#005f83] h-[5%] pr-4 pt-2 text-[7px]"
    >
      PRF-1212431-2022
    </div>
    <div class="h-[60%] flex flex-row items-center justify-start gap-1">
      <div class="h-full w-[30%] flex justify-center items-center">
        <img
          class="rounded-full w-[65px] h-[65px]"
          src="../../../../../assets/images/profile.jpg"
        />
      </div>
      <div class="h-full w-[60%] flex flex-col items-start justify-center">
        <span class="font-bold text-[11px]">Anonymous</span>
        <span class="text-[7px]">Entity Not Matched or Created</span>
      </div>
    </div>
    <div class="h-[25%] flex justify-start items-center flex-row w-full pb-2">
      <div
        class="bg-[#F4F4F4] text-primary items-center justify-center drop-shadow-md ml-2 flex border-[#ffffff] rounded-lg w-[50%] h-full"
      >
        <span class="text-[9px]"> In Process </span>
      </div>
    </div>
  </div>
</div>
