<div class="w-full">
  <div class="flex flex-row bg-white">
    <div class="w-[57%] flex flex-col pr-10 pl-7 twocolorbackground">
      <div class="flex flex-row">
        <div class="w-1/2 flex flex-row">
          <p class="font-base leading-none flex items-center pt-5 font-bold">
            ENTITY NAME HERE
          </p>
          <div class="flex-1">
            <div class="flex justify-center pt-5">
              EIN: &nbsp;
              <span
                class="underline text-[15px] text-primary decoration-sky-100 flex items-center"
                >0079827</span
              >
            </div>
          </div>
        </div>
        <div class="w-1/2 flex flex-row justify-center">
          <p class="text-sm px-4 leading-none py-5 h-4 text-center font-bold">
            TICKET STATUS:
          </p>
          <div class="flex-1 flex flex-row pt-4 border-b-half">
            <div
              class="flex-1 flex flex-start text-center font-bold text-primary"
            >
              In Process
            </div>
            <div class="flex-end pt-2">
              <img
                src="../../../../../../assets/images/customer-service/select-down.svg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <app-header></app-header>
      </div>
      <div class="mt-4">
        <app-information></app-information>
      </div>
      <div class="mt-4">
        <app-history-one></app-history-one>
      </div>
      <div class="w-full mt-12 mb-3">
        <app-select-note></app-select-note>
      </div>
    </div>
    <div class="w-[43%] pl-4">
      <div class="flex flex-col h-[1030px] w-[100%]">
        <div class="h-4/5 w-full bgColor rounded-md shadow-md">
          <app-contact-view></app-contact-view>
        </div>
        <div class="h-1/5 rounded-md shadow-md">
          <app-contact-form></app-contact-form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-entities-control></app-entities-control> -->
